/straight/
/backups/
/auto-save-list/
/history
/.lsp-session-v1
*.log
*.sqlite
/elpa
/projects
/transient
\#*#
/.cache/
/.mc-lists.el
/custom.el
/projectile-bookmarks.eld
/bookmarks
/autosave/
/eln-cache/
/eshell/
/recentf
/.dap-breakpoints
/tramp
/undo-tree-history/
/undohist/
